django==5.2.8
djangorestframework==3.16.1
django-environ==0.12.0
django-cors-headers==4.9.0
mysqlclient==2.2.4 ; platform_system!="Windows"
PyMySQL==1.1.0 ; platform_system=="Windows"
asgiref==3.10.0
distlib==0.4.0
et_xmlfile==2.0.0
filelock==3.20.0
openpyxl==3.1.5
platformdirs==4.5.0
setuptools==80.9.0
sqlparse==0.5.3
tzdata==2025.2
virtualenv==20.35.3
